@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");
.pie {
    text-align: center;
    background-color: lightblue;
    color: black;
    font-size: 1.2rem;
    padding: .8rem;
}