<div class="m-2 p-3 border border-dark rounded-3">
    <div class="fs-4 my-2">Experiencia</div>

    <!-- experiencias backend-->
    <div id="expBackEnd" class="row m-b3">
        <div class="col-11">
            <div class="row mb-2">
                <div class="col-1 text-center ">
                    <img src="../../../assets/pixarLogo.png" alt="pixar" width="40" height="40">
                </div>
                <div class="col-10 ">
                    <div class="fs-5">Backend Developer</div>
                    <div class="text-secondary fs-6">Pixar - Jornada parcial</div>
                    <div class="text-secondary fw-bold">mar 2019 - actualidad - 2 años y 6 meses</div>
                    <div class="text-secondary fw-bold">Guadalajara y alrededores - México</div>
                </div>
            </div>

        </div>
        <div class="col-1 text-center">
            <i class="bi bi-plus-lg"></i>
            <br>
            <i class="bi bi-pencil-fill"></i>

            <a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="expBackEnd">
                <i class="bi bi-trash-fill"></i>
            </a>
             
            
        </div>
    </div>

    <!-- experiencia front end -->
    <div class="row mb-3">
        <div class="col-11">
            <div class="row mb-2">
                <div class="col-1 text-center ">
                    <img src="../../../assets/argprog.png" alt="pixar" width="60">
                </div>
                <div class="col-10 ">
                    <div class="fs-5">Frontend Developer</div>
                    <div class="text-secondary fs-6">Argentina Programa - Jornada parcial</div>
                    <div class="text-secondary fw-bold">mar 2019 - actualidad - 2 años y 6 meses</div>
                    <div class="text-secondary fw-bold">Guadalajara y alrededores - México</div>
                </div>
            </div>

        </div>
        <div class="col-1 text-center">
            <i class="bi bi-plus-lg"></i>
            <br>
            <i class="bi bi-pencil-fill"></i>
            <i class="bi bi-trash-fill"></i>
        </div>
    </div>
</div>
