<!-- encabezado -->
<div class="m-2 border border-dark rounded-3">
    <img src="../assets/fondo.png" alt="fondo" width="100%" height="100">
    <div class="p-3">
        <div class="mb-3">
            <img src="../assets/perfil.png" alt="perfil" width="100" height="100" class="imagen-perfil">
            <div class="fs-4">Manuel Sadosky</div>
            <div>Informático del CONICET</div>
            <div>Buenos Aires ARgentina</div>
        </div>
        <div>
            <button class="btn btn-primary mx-1">Tengo interes</button>
            <button class="btn btn-info mx-1">Añadir sección</button>
            <button class="btn btn-info mx-1">Más</button>
        </div>
    </div>
</div>